<h1>conquistas cadastrada</h1>

  <!-- ou jogos -->
<a href="/jogo/{{jogo.id}}/novaConquista">Cadastrar conquistas</a>

<table border="1">
  <!-- table row -->
  <tr>
    <!-- table head -->
    <th>titulo</th>
    <th>descrição</th>
  </tr>
  {{#each conquista}}
    <tr>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
    </tr>
  {{/each}}
</table>